h1, h2, h3, h4, h5, h6 {
  font-family: 'Caveat', cursive;
}

h2 {
  font-size: 80px;
}

.card {
  margin-top: 1em;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body a {
  width: fit-content;
  margin-top: 1em;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
}

.hero {
  max-height: calc(100vh -90px)!important;
}

main {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("img/Nova-3.jpg");
  max-height: calc(100vh - 90px);
  /* Full height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-aside {
  font-size: 24px;
}