h1, h2, h3, h4, h5, h6 {
  font-family: 'Caveat', cursive;
}

.card {
  margin-top: 1em;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body a {
  width: fit-content;
  margin-top: 1em;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
}

.hero {
  max-height: calc(100vh -90px)!important;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}